{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}

{% block title %}
    Book Hostel
{% endblock %}

{% block content %}
    <!-- main content start -->
    <section id="view" class="col m9 l9 no-padding">
        <!--banner start-->
{#            {% include 'banner.html' %}#}
        <!--banner end-->
        <section class="row container">
            <br/>
            <div class="col s12 m12 offset">
                    <div class="card-panel">
                        <h4 class="center">Hostel Allocation</h4>
                        <form class="" id="" action="" method="POST">{% csrf_token %}
                            <div class="row">
                                {% for field in form %}
                                <div class="input-field col s12 m4">
                                    {{ field }}
                                    <!--<select name="prefered_block" id="prefered-block">
                                        <option value="" disabled selected>Choose a Block</option>
                                        <option value="block-a">Block A</option>
                                        <option value="block-b">Block B</option>
                                        <option value="block-c">Block C</option>
                                        <option value="block-d">Block D</option>
                                        <option value="block-e">Block E</option>
                                    </select>-->
                                    <label>Select a {{ field.label }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="center-align">
                                    <div class="col s3">
                                        <p class="flow-text">Hostel</p>
                                        <p id="selected-hostel" class="flow-text"><b>Prophet Moses Hostel</b></p>
                                    </div>
                                    <div class="col s3">
                                        <p class="flow-text">Block</p>
                                        <p id="selected-block" class="flow-text"><b>Block A</b></p>
                                    </div>
                                    <div class="col s3">
                                        <p class="flow-text">Room</p>
                                        <p id="selected-room" class="flow-text"><b>Room 3</b></p>
                                    </div>
                                    <div class="col s3">
                                        <p class="flow-text">Bed</p>
                                        <p id="selected-bed" class="flow-text"><b>Bed C</b></p>
                                    </div>
                                    <div class="col s12 center-align">
                                        <p class="flow-text">Session</p>
                                        <p class="flow-text"><b>2016/2017</b></p>
                                    </div>
                                </div>
                            </div>
                            <p class="green-text text-darken-4">**Click proceed to search for availability of your preferred choices**</p>
                            <div class="row" style="margin-top:-2rem;">
                                <br>
                                <a href="/hostel/allocation_confirmation/"><button class="blue darken-2 btn-large input-field col s12">Proceed</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            <br><br>
        </section>
    </section>
    <!-- main content end -->

    <!-- side menu start -->
    {% include 'aside.html' %}
    <!-- side menu end -->
{% endblock %}