{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}

{% block title %}
    Student Dashboard
{% endblock %}

{% block content %}
    <!-- main content start -->
    <section id="view" class="col m9 l9 no-padding">
            <!--banner start-->
{#            {% include 'banner.html' %}#}
            <!--banner end-->
            <section class="row container">
            <br/>
            <div class="col s12 m12 offset">
                <div class="card-panel">
                    <h4 class="center green-text no-padding">Hostel Allocation Receipt</h4>
                    <div class="green-text text-darken-3 white left-align" style="padding: 0.5rem 1rem">
                        <p>
                            You have successfully booked a hostel, print your receipt here
                        </p>
                        <div class="card-image center">
                            <img src="{{ profile.get_mugshot_url }}" class="responsive-img circle" alt="Students Passport" style="width: 200px">
                        </div>
                        <p class="flow-text center-align">
                            {% if profile.user.get_full_name %}
                            Full Name: <span>{{ profile.title|title }}. {{ profile.user.get_full_name }}</span><br/>
                            {% endif %}
                            {% if profile.mat_no %}
                            Mat No: <span>{{ profile.mat_no }}</span><br/>
                            {% endif %}
                            {% if hall %}
                            Hall: <span>{{ hall }}</span><br/>
                            {% endif %}
                            Block: <span>Block 1</span><br/>
                            Room: <span>Room 3</span><br/>
                            Bed: <span>Bed 2</span><br/>
                            Book Id: <span>234-1w2-345</span><br/>
                            {% if profile.gender %}
                            Sex: <span>{{ profile.get_gender_display }}</span><br/>
                            {% endif %}
                            Date of Allocation: <span>25th Of March 2017</span><br/>
                        </p>
                        <br/>
                        <div class="center-align">
                            <button class="btn blue-grey darken-3 waves-effect waves-light" onclick="window.print()">Print Receipt</button>
                            <a href="/hostel/dashboard"><button class="btn blue-grey darken-3 waves-effect waves-light">Go Home</button></a>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        </section>
    <!-- main content end -->

    <!-- side menu start -->
    {% include 'aside.html' %}
    <!-- side menu end -->
{% endblock %}