
    <br>
    <br>
    <div class="col s12 m8 offset-m1">
        <div class="card-panel">
            <p class="center-align flow-text"><b>Login to book your Hostel now!</b></p>
            <form>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="matric_no" type="text" class="validate" placeholder="e.g 12/55UG222">
                        <label for="matric_no">Matric Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" placeholder="******" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row" style="margin-top:-2rem;">
                    <a href="book_hostel.html"><button class="blue darken-2 btn-large input-field col s12">Login</button></a>
                </div>
            </form>
        </div>
    </div>
    <br><br>